	.centerit {
		height:100%;
		width:100%;
	}
	body {
		background-color: #000000;
		color: #fff;
	}
	.nav-link {
		color: #aaa;
	}
	a {
		color: #fff;
		text-decoration: none;
	}
	a:hover{
		color: #ddd;
	}
	